<nav class="navbar navbar-expand-sm navbar-dark bg-darker sticky-top" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ChemAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" href="/molecules">Molecules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/scenes">Scenes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hybridization">Hybridization</a>
        </li>
        <li class="-items">
          <a class="nav-link" href="/lessons">Lessons</a>
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" href="/">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About</a>
        </li>
      </ul>

      <a type="button" class="btn btn-outline-light me-2" href="/logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-box-arrow-in-right me-2" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z">
          </path>
          <path fill-rule="evenodd"
            d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z">
          </path>
        </svg>
        Logout
      </a>

    </div>
  </div>
</nav>